{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<div class="container-fluid">
  

	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
		<link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
		<link rel="stylesheet" href="{% static 'bootstrap-3.3.7-dist/css/bootstrap.css' %}">
		<link rel="stylesheet" href="{% static 'bootstrap-3.3.7-dist/css/bootstrap-theme.css' %}">
		<link rel="script" href="{% static 'bootstrap-3.3.7-dist/js/bootstrap.js' %}">
		<link rel="stylesheet" href="{% static 'css/polls.css' %}">

		{# Load the tag library #}
		{% load bootstrap3 %}

		{# Load CSS and JavaScript #}
		{% bootstrap_css %}
		{% bootstrap_javascript %}

		{# Display django.contrib.messages as Bootstrap alerts #}
		{% bootstrap_messages %}
	</head>

  {% buttons %}
  	<a href="{% url 'polls:index' %}" type="btn" class="btn btn-primary">{% bootstrap_icon "home" %}</a>
 
    <button type="submit" class="btn btn-primary">
      {% bootstrap_icon "info-sign" %} 
    </button>

	<a href="{% url 'admin:index' %}" type="btn" class="btn btn-primary">{% bootstrap_icon "user" %} Admin Login</a>

     <button type="submit" class="btn btn-primary">
      {% bootstrap_icon "user" %} User Login
    </button>


  {% endbuttons %}


<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">
  		<h1> Ballots </h1>
		<h1> {{ ballot.ballot_text }}</h1>
		<small>Select a Ballot:</small>
  </div>
 <div class="col-md-4"></div> 
</div>
	{% if latest_ballot_list %}
		<ul>
		{% for ballot in latest_ballot_list %}
			<li><a href="{% url 'polls:detail' ballot.id %}"> {{ ballot.ballot_text }}</a></li>
			{% endfor %}
		</ul>
	{% else %}
		<p>No polls area available.</p>
	{% endif %}


</html>
